[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
agora-token-builder = "==1.0.0"
asgiref = "==3.4.1"
django = "==4.0.1"
sqlparse = "==0.4.2"
tzdata = "==2021.5"

[dev-packages]

[requires]
python_version = "2.7"
